.heading-primary {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
}
.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 3rem;
  color: #141719;
}
.heading-tertiary {
  font-size: 1rem;
  color: #fff;
}
.heading-countainer {
  margin-bottom: 1.5rem;
}

.btn-arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.btn-text {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #182cc0;
}
.countainer {
  min-width: 34rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
